-- ================================================================
-- TechStoreDB – Full Setup Script (idempotent)
-- Chạy được dù database đã tồn tại hay chưa.
--
-- THIẾT KẾ USER / ROLE / CUSTOMER (theo SRS):
--   role     → bảng vai trò: 1=customer, 2=staff, 3=admin
--   user     → tài khoản đăng nhập (role_id FK → role)
--   customer → hồ sơ mua hàng (khách vãng lai hoặc khách đã đăng ký)
--              customer.user_id = NULL  →  khách vãng lai (guest)
--              customer.user_id = X     →  khách đã đăng ký (liên kết với user)
-- ================================================================

USE [master]
GO

IF DB_ID('TechStoreDB') IS NULL
BEGIN
    CREATE DATABASE [TechStoreDB];
    PRINT 'Database TechStoreDB created.';
END
ELSE
    PRINT 'Database TechStoreDB already exists – applying idempotent setup.';
GO

USE [TechStoreDB]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ================================================================
-- BẢNG DANH MỤC / THƯƠNG HIỆU
-- ================================================================

IF NOT EXISTS (SELECT 1 FROM sys.tables WHERE name = 'category')
BEGIN
    CREATE TABLE [dbo].[category](
        [id]   [bigint] IDENTITY(1,1) NOT NULL,
        [name] [nvarchar](255) NULL,
        PRIMARY KEY CLUSTERED ([id] ASC)
    );
    PRINT 'Table category created.';
END
GO

IF NOT EXISTS (SELECT 1 FROM sys.tables WHERE name = 'brand')
BEGIN
    CREATE TABLE [dbo].[brand](
        [id]   [bigint] IDENTITY(1,1) NOT NULL,
        [name] [nvarchar](255) NULL,
        PRIMARY KEY CLUSTERED ([id] ASC)
    );
    PRINT 'Table brand created.';
END
GO

-- ================================================================
-- BẢNG SẢN PHẨM
-- ================================================================

IF NOT EXISTS (SELECT 1 FROM sys.tables WHERE name = 'product')
BEGIN
    CREATE TABLE [dbo].[product](
        [id]          [bigint] IDENTITY(1,1) NOT NULL,
        [name]        [nvarchar](255) NULL,
        [sku]         [nvarchar](100) NULL,
        [description] [nvarchar](MAX) NULL,
        [warranty]    [nvarchar](500) NULL,
        [brand_id]    [bigint] NULL,
        [category_id] [bigint] NULL,
        [price]       [decimal](18,2) NULL,
        [stock]       [int] NULL CONSTRAINT DF_product_stock DEFAULT (0),
        [created_at]  [datetime] NULL CONSTRAINT DF_product_created_at DEFAULT (getdate()),
        PRIMARY KEY CLUSTERED ([id] ASC)
    );
    PRINT 'Table product created.';
END
GO

IF NOT EXISTS (SELECT 1 FROM sys.tables WHERE name = 'product_image')
BEGIN
    CREATE TABLE [dbo].[product_image](
        [id]         [bigint] IDENTITY(1,1) NOT NULL,
        [product_id] [bigint] NOT NULL,
        [image_url]  [nvarchar](1000) NULL,
        PRIMARY KEY CLUSTERED ([id] ASC)
    );
    PRINT 'Table product_image created.';
END
GO

IF NOT EXISTS (SELECT 1 FROM sys.tables WHERE name = 'product_spec')
BEGIN
    CREATE TABLE [dbo].[product_spec](
        [id]          [bigint] IDENTITY(1,1) NOT NULL,
        [product_id]  [bigint] NOT NULL,
        [spec_key]    [nvarchar](100) NULL,
        [spec_value]  [nvarchar](500) NULL,
        PRIMARY KEY CLUSTERED ([id] ASC)
    );
    PRINT 'Table product_spec created.';
END
GO

IF NOT EXISTS (SELECT 1 FROM sys.tables WHERE name = 'promotion')
BEGIN
    CREATE TABLE [dbo].[promotion](
        [id]               [bigint] IDENTITY(1,1) NOT NULL,
        [name]             [nvarchar](255) NULL,
        [discount_percent] [int] NULL,
        [start_date]       [datetime] NULL,
        [end_date]         [datetime] NULL,
        PRIMARY KEY CLUSTERED ([id] ASC)
    );
    PRINT 'Table promotion created.';
END
GO

IF NOT EXISTS (SELECT 1 FROM sys.tables WHERE name = 'product_promotion')
BEGIN
    CREATE TABLE [dbo].[product_promotion](
        [product_id]   [bigint] NOT NULL,
        [promotion_id] [bigint] NOT NULL,
        PRIMARY KEY CLUSTERED ([product_id] ASC, [promotion_id] ASC)
    );
    PRINT 'Table product_promotion created.';
END
GO

-- ================================================================
-- BẢNG ROLE (A2-Customer, A3-Admin, A4-Staff theo SRS)
-- ================================================================

IF NOT EXISTS (SELECT 1 FROM sys.tables WHERE name = 'role')
BEGIN
    CREATE TABLE [dbo].[role](
        [id]          [int]          NOT NULL,
        [name]        [nvarchar](50) NOT NULL,   -- 'customer' | 'staff' | 'admin'
        [description] [nvarchar](255) NULL,
        PRIMARY KEY CLUSTERED ([id] ASC),
        CONSTRAINT UQ_role_name UNIQUE ([name])
    );
    PRINT 'Table role created.';
END
GO

-- ================================================================
-- BẢNG TÀI KHOẢN (F14, F15, NFR-05)
-- ================================================================

IF NOT EXISTS (SELECT 1 FROM sys.tables WHERE name = 'user')
BEGIN
    CREATE TABLE [dbo].[user](
        [id]            [bigint] IDENTITY(1,1) NOT NULL,
        [email]         [nvarchar](255) NOT NULL,
        [password_hash] [nvarchar](500) NOT NULL,
        [role_id]       [int]           NOT NULL CONSTRAINT DF_user_role_id DEFAULT (1),  -- 1 = customer
        [created_at]    [datetime]      NULL     CONSTRAINT DF_user_created_at DEFAULT (getdate()),
        PRIMARY KEY CLUSTERED ([id] ASC),
        CONSTRAINT UQ_user_email UNIQUE ([email])
    );
    PRINT 'Table user created.';
END
GO

-- ================================================================
-- BẢNG HỒ SƠ MUA HÀNG (D-02)
--   user_id = NULL  → khách vãng lai (guest)
--   user_id = X     → khách đã đăng ký
-- ================================================================

IF NOT EXISTS (SELECT 1 FROM sys.tables WHERE name = 'customer')
BEGIN
    CREATE TABLE [dbo].[customer](
        [id]         [bigint] IDENTITY(1,1) NOT NULL,
        [user_id]    [bigint] NULL,                  -- NULL nếu là guest
        [name]       [nvarchar](255) NOT NULL,
        [email]      [nvarchar](255) NULL,           -- email liên lạc (không cần đăng nhập)
        [phone]      [nvarchar](50)  NULL,
        [created_at] [datetime] NULL CONSTRAINT DF_customer_created_at DEFAULT (getdate()),
        PRIMARY KEY CLUSTERED ([id] ASC)
    );
    PRINT 'Table customer created.';
END
GO

IF NOT EXISTS (SELECT 1 FROM sys.tables WHERE name = 'address')
BEGIN
    CREATE TABLE [dbo].[address](
        [id]           [bigint] IDENTITY(1,1) NOT NULL,
        [customer_id]  [bigint] NOT NULL,
        [address_line] [nvarchar](500) NULL,
        [city]         [nvarchar](100) NULL,
        [district]     [nvarchar](100) NULL,
        [ward]         [nvarchar](100) NULL,
        [is_default]   [bit] NULL CONSTRAINT DF_address_is_default DEFAULT (0),
        PRIMARY KEY CLUSTERED ([id] ASC)
    );
    PRINT 'Table address created.';
END
GO

-- ================================================================
-- BẢNG GIỎ HÀNG (F07, F08) – chỉ cho user đã đăng nhập
-- ================================================================

IF NOT EXISTS (SELECT 1 FROM sys.tables WHERE name = 'cart')
BEGIN
    CREATE TABLE [dbo].[cart](
        [id]         [bigint] IDENTITY(1,1) NOT NULL,
        [user_id]    [bigint] NOT NULL,
        [created_at] [datetime] NULL CONSTRAINT DF_cart_created_at DEFAULT (getdate()),
        PRIMARY KEY CLUSTERED ([id] ASC)
    );
    PRINT 'Table cart created.';
END
GO

IF NOT EXISTS (SELECT 1 FROM sys.tables WHERE name = 'cart_item')
BEGIN
    CREATE TABLE [dbo].[cart_item](
        [id]         [bigint] IDENTITY(1,1) NOT NULL,
        [cart_id]    [bigint] NOT NULL,
        [product_id] [bigint] NOT NULL,
        [quantity]   [int] NULL CONSTRAINT DF_cart_item_quantity DEFAULT (1),
        PRIMARY KEY CLUSTERED ([id] ASC)
    );
    PRINT 'Table cart_item created.';
END
GO

-- ================================================================
-- BẢNG ĐƠN HÀNG (F09–F13, D-03)
-- ================================================================

IF NOT EXISTS (SELECT 1 FROM sys.tables WHERE name = 'orders')
BEGIN
    CREATE TABLE [dbo].[orders](
        [id]              [bigint] IDENTITY(1,1) NOT NULL,
        [customer_id]     [bigint] NOT NULL,          -- luôn có customer (guest hoặc member)
        [address_id]      [bigint] NULL,
        [status]          [nvarchar](50)  NULL CONSTRAINT DF_orders_status       DEFAULT ('pending'),
        [total_amount]    [decimal](18,2) NULL,
        [shipping_fee]    [decimal](18,2) NULL CONSTRAINT DF_orders_shipping_fee DEFAULT (0),
        [notes]           [nvarchar](500) NULL,       -- lời nhắn người nhận (F10)
        [tracking_number] [nvarchar](100) NULL,       -- mã vận đơn (UC-07)
        [created_at]      [datetime] NULL CONSTRAINT DF_orders_created_at DEFAULT (getdate()),
        PRIMARY KEY CLUSTERED ([id] ASC)
    );
    PRINT 'Table orders created.';
END
GO

IF NOT EXISTS (SELECT 1 FROM sys.tables WHERE name = 'order_item')
BEGIN
    CREATE TABLE [dbo].[order_item](
        [id]         [bigint] IDENTITY(1,1) NOT NULL,
        [order_id]   [bigint] NOT NULL,
        [product_id] [bigint] NOT NULL,
        [quantity]   [int]           NULL CONSTRAINT DF_order_item_quantity DEFAULT (1),
        [price]      [decimal](18,2) NULL,
        PRIMARY KEY CLUSTERED ([id] ASC)
    );
    PRINT 'Table order_item created.';
END
GO

IF NOT EXISTS (SELECT 1 FROM sys.tables WHERE name = 'payment')
BEGIN
    CREATE TABLE [dbo].[payment](
        [id]       [bigint] IDENTITY(1,1) NOT NULL,
        [order_id] [bigint] NOT NULL,
        [method]   [nvarchar](50) NULL,              -- COD / bank_transfer / online
        [status]   [nvarchar](50) NULL CONSTRAINT DF_payment_status DEFAULT ('pending'),
        [paid_at]  [datetime] NULL,
        PRIMARY KEY CLUSTERED ([id] ASC)
    );
    PRINT 'Table payment created.';
END
GO

-- ================================================================
-- BẢNG BUILD PC (F22, F23)
-- ================================================================

IF NOT EXISTS (SELECT 1 FROM sys.tables WHERE name = 'pc_component_type')
BEGIN
    CREATE TABLE [dbo].[pc_component_type](
        [id]          [bigint] IDENTITY(1,1) NOT NULL,
        [name]        [nvarchar](100) NOT NULL,
        [is_required] [bit] NOT NULL CONSTRAINT DF_pct_required DEFAULT (1),
        [sort_order]  [int] NOT NULL CONSTRAINT DF_pct_sort    DEFAULT (0),
        PRIMARY KEY CLUSTERED ([id] ASC)
    );
    PRINT 'Table pc_component_type created.';
END
GO

IF NOT EXISTS (SELECT 1 FROM sys.tables WHERE name = 'pc_build')
BEGIN
    CREATE TABLE [dbo].[pc_build](
        [id]          [bigint] IDENTITY(1,1) NOT NULL,
        [user_id]     [bigint] NULL,                 -- NULL nếu guest lưu tạm phía client
        [name]        [nvarchar](255) NULL,
        [total_price] [decimal](18,2) NULL,
        [created_at]  [datetime] NULL CONSTRAINT DF_pcbuild_created DEFAULT (getdate()),
        PRIMARY KEY CLUSTERED ([id] ASC)
    );
    PRINT 'Table pc_build created.';
END
GO

IF NOT EXISTS (SELECT 1 FROM sys.tables WHERE name = 'pc_build_item')
BEGIN
    CREATE TABLE [dbo].[pc_build_item](
        [id]                [bigint] IDENTITY(1,1) NOT NULL,
        [build_id]          [bigint] NOT NULL,
        [component_type_id] [bigint] NOT NULL,
        [product_id]        [bigint] NOT NULL,
        [quantity]          [int] NOT NULL CONSTRAINT DF_pbi_qty DEFAULT (1),
        PRIMARY KEY CLUSTERED ([id] ASC)
    );
    PRINT 'Table pc_build_item created.';
END
GO

-- ================================================================
-- INDEXES
-- ================================================================
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = 'IX_customer_user_id')
    CREATE NONCLUSTERED INDEX [IX_customer_user_id]       ON [dbo].[customer]     ([user_id] ASC);
GO
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = 'IX_address_customer_id')
    CREATE NONCLUSTERED INDEX [IX_address_customer_id]    ON [dbo].[address]      ([customer_id] ASC);
GO
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = 'IX_cart_user_id')
    CREATE NONCLUSTERED INDEX [IX_cart_user_id]           ON [dbo].[cart]         ([user_id] ASC);
GO
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = 'IX_cart_item_cart_id')
    CREATE NONCLUSTERED INDEX [IX_cart_item_cart_id]      ON [dbo].[cart_item]    ([cart_id] ASC);
GO
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = 'IX_cart_item_product_id')
    CREATE NONCLUSTERED INDEX [IX_cart_item_product_id]   ON [dbo].[cart_item]    ([product_id] ASC);
GO
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = 'IX_orders_customer_id')
    CREATE NONCLUSTERED INDEX [IX_orders_customer_id]     ON [dbo].[orders]       ([customer_id] ASC);
GO
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = 'IX_orders_status')
    CREATE NONCLUSTERED INDEX [IX_orders_status]          ON [dbo].[orders]       ([status] ASC);
GO
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = 'IX_orders_created_at')
    CREATE NONCLUSTERED INDEX [IX_orders_created_at]      ON [dbo].[orders]       ([created_at] ASC);
GO
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = 'IX_orders_address_id')
    CREATE NONCLUSTERED INDEX [IX_orders_address_id]      ON [dbo].[orders]       ([address_id] ASC);
GO
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = 'IX_order_item_order_id')
    CREATE NONCLUSTERED INDEX [IX_order_item_order_id]    ON [dbo].[order_item]   ([order_id] ASC);
GO
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = 'IX_order_item_product_id')
    CREATE NONCLUSTERED INDEX [IX_order_item_product_id]  ON [dbo].[order_item]   ([product_id] ASC);
GO
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = 'IX_payment_order_id')
    CREATE NONCLUSTERED INDEX [IX_payment_order_id]       ON [dbo].[payment]      ([order_id] ASC);
GO
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = 'IX_product_brand_id')
    CREATE NONCLUSTERED INDEX [IX_product_brand_id]       ON [dbo].[product]      ([brand_id] ASC);
GO
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = 'IX_product_category_id')
    CREATE NONCLUSTERED INDEX [IX_product_category_id]    ON [dbo].[product]      ([category_id] ASC);
GO
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = 'IX_product_image_product_id')
    CREATE NONCLUSTERED INDEX [IX_product_image_product_id] ON [dbo].[product_image] ([product_id] ASC);
GO
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = 'IX_product_spec_product_id')
    CREATE NONCLUSTERED INDEX [IX_product_spec_product_id]  ON [dbo].[product_spec]  ([product_id] ASC);
GO

-- ================================================================
-- FOREIGN KEY CONSTRAINTS
-- ================================================================

-- user → role
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = 'FK_user_role')
    ALTER TABLE [dbo].[user] ADD CONSTRAINT [FK_user_role]
        FOREIGN KEY([role_id]) REFERENCES [dbo].[role]([id]);
GO

-- customer → user
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = 'FK_customer_user')
    ALTER TABLE [dbo].[customer] ADD CONSTRAINT [FK_customer_user]
        FOREIGN KEY([user_id]) REFERENCES [dbo].[user]([id]) ON DELETE SET NULL;
GO

-- address → customer
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = 'FK_address_customer')
    ALTER TABLE [dbo].[address] ADD CONSTRAINT [FK_address_customer]
        FOREIGN KEY([customer_id]) REFERENCES [dbo].[customer]([id]) ON DELETE CASCADE;
GO

-- cart → user
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = 'FK_cart_user')
    ALTER TABLE [dbo].[cart] ADD CONSTRAINT [FK_cart_user]
        FOREIGN KEY([user_id]) REFERENCES [dbo].[user]([id]) ON DELETE CASCADE;
GO

-- cart_item → cart
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = 'FK_cart_item_cart')
    ALTER TABLE [dbo].[cart_item] ADD CONSTRAINT [FK_cart_item_cart]
        FOREIGN KEY([cart_id]) REFERENCES [dbo].[cart]([id]) ON DELETE CASCADE;
GO

-- cart_item → product
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = 'FK_cart_item_product')
    ALTER TABLE [dbo].[cart_item] ADD CONSTRAINT [FK_cart_item_product]
        FOREIGN KEY([product_id]) REFERENCES [dbo].[product]([id]) ON DELETE CASCADE;
GO

-- orders → customer
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = 'FK_orders_customer')
    ALTER TABLE [dbo].[orders] ADD CONSTRAINT [FK_orders_customer]
        FOREIGN KEY([customer_id]) REFERENCES [dbo].[customer]([id]);
GO

-- orders → address
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = 'FK_orders_address')
    ALTER TABLE [dbo].[orders] ADD CONSTRAINT [FK_orders_address]
        FOREIGN KEY([address_id]) REFERENCES [dbo].[address]([id]) ON DELETE SET NULL;
GO

-- order_item → orders
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = 'FK_order_item_order')
    ALTER TABLE [dbo].[order_item] ADD CONSTRAINT [FK_order_item_order]
        FOREIGN KEY([order_id]) REFERENCES [dbo].[orders]([id]) ON DELETE CASCADE;
GO

-- order_item → product
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = 'FK_order_item_product')
    ALTER TABLE [dbo].[order_item] ADD CONSTRAINT [FK_order_item_product]
        FOREIGN KEY([product_id]) REFERENCES [dbo].[product]([id]);
GO

-- payment → orders
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = 'FK_payment_order')
    ALTER TABLE [dbo].[payment] ADD CONSTRAINT [FK_payment_order]
        FOREIGN KEY([order_id]) REFERENCES [dbo].[orders]([id]) ON DELETE CASCADE;
GO

-- product → brand
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = 'FK_product_brand')
    ALTER TABLE [dbo].[product] ADD CONSTRAINT [FK_product_brand]
        FOREIGN KEY([brand_id]) REFERENCES [dbo].[brand]([id]) ON DELETE SET NULL;
GO

-- product → category
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = 'FK_product_category')
    ALTER TABLE [dbo].[product] ADD CONSTRAINT [FK_product_category]
        FOREIGN KEY([category_id]) REFERENCES [dbo].[category]([id]) ON DELETE SET NULL;
GO

-- product_image → product
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = 'FK_product_image_product')
    ALTER TABLE [dbo].[product_image] ADD CONSTRAINT [FK_product_image_product]
        FOREIGN KEY([product_id]) REFERENCES [dbo].[product]([id]) ON DELETE CASCADE;
GO

-- product_spec → product
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = 'FK_product_spec_product')
    ALTER TABLE [dbo].[product_spec] ADD CONSTRAINT [FK_product_spec_product]
        FOREIGN KEY([product_id]) REFERENCES [dbo].[product]([id]) ON DELETE CASCADE;
GO

-- product_promotion → product / promotion
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = 'FK_product_promotion_product')
    ALTER TABLE [dbo].[product_promotion] ADD CONSTRAINT [FK_product_promotion_product]
        FOREIGN KEY([product_id]) REFERENCES [dbo].[product]([id]) ON DELETE CASCADE;
GO
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = 'FK_product_promotion_promotion')
    ALTER TABLE [dbo].[product_promotion] ADD CONSTRAINT [FK_product_promotion_promotion]
        FOREIGN KEY([promotion_id]) REFERENCES [dbo].[promotion]([id]) ON DELETE CASCADE;
GO

-- pc_build → user
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = 'FK_pcbuild_user')
    ALTER TABLE [dbo].[pc_build] ADD CONSTRAINT [FK_pcbuild_user]
        FOREIGN KEY([user_id]) REFERENCES [dbo].[user]([id]) ON DELETE SET NULL;
GO

-- pc_build_item → pc_build
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = 'FK_pbi_build')
    ALTER TABLE [dbo].[pc_build_item] ADD CONSTRAINT [FK_pbi_build]
        FOREIGN KEY([build_id]) REFERENCES [dbo].[pc_build]([id]) ON DELETE CASCADE;
GO

-- pc_build_item → pc_component_type
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = 'FK_pbi_component_type')
    ALTER TABLE [dbo].[pc_build_item] ADD CONSTRAINT [FK_pbi_component_type]
        FOREIGN KEY([component_type_id]) REFERENCES [dbo].[pc_component_type]([id]);
GO

-- pc_build_item → product
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = 'FK_pbi_product')
    ALTER TABLE [dbo].[pc_build_item] ADD CONSTRAINT [FK_pbi_product]
        FOREIGN KEY([product_id]) REFERENCES [dbo].[product]([id]);
GO

-- ================================================================
-- SEED: Roles (dựa theo SRS: A2-Customer, A3-Admin, A4-Staff)
-- ================================================================
IF NOT EXISTS (SELECT 1 FROM [dbo].[role])
BEGIN
    INSERT INTO [dbo].[role] (id, name, description) VALUES
    (1, 'customer', N'Khách hàng đã đăng ký tài khoản'),
    (2, 'staff',    N'Nhân viên – quản lý đơn hàng, sản phẩm'),
    (3, 'admin',    N'Quản trị viên – toàn quyền hệ thống');
    PRINT 'Seeded role.';
END
GO

-- ================================================================
-- SEED: Demo users để test đăng nhập (staff/admin)
-- Mật khẩu plain text: 123456789
-- Hash theo AuthService: SHA256 + Base64
-- ================================================================
IF NOT EXISTS (SELECT 1 FROM [dbo].[user] WHERE [email] = 'staff@techstore.local')
BEGIN
    INSERT INTO [dbo].[user] ([email], [password_hash], [role_id])
    VALUES ('staff@techstore.local', 'FeKw08M4keuw8e9gnsQZQgwg4yDOlMZfvIwzEkSOsiU=', 2);
    PRINT 'Seeded staff account: staff@techstore.local';
END
GO

IF NOT EXISTS (SELECT 1 FROM [dbo].[user] WHERE [email] = 'admin@techstore.local')
BEGIN
    INSERT INTO [dbo].[user] ([email], [password_hash], [role_id])
    VALUES ('admin@techstore.local', 'FeKw08M4keuw8e9gnsQZQgwg4yDOlMZfvIwzEkSOsiU=', 3);
    PRINT 'Seeded admin account: admin@techstore.local';
END
GO

-- ================================================================
-- SEED: Demo Categories, Brands, Products (tối đa 3 mẫu)
-- ================================================================

------------------------------------------------------------
-- Categories
------------------------------------------------------------
IF NOT EXISTS (SELECT 1 FROM [dbo].[category] WHERE [name] = N'Laptop')
    INSERT INTO [dbo].[category] ([name]) VALUES (N'Laptop');

IF NOT EXISTS (SELECT 1 FROM [dbo].[category] WHERE [name] = N'Monitor')
    INSERT INTO [dbo].[category] ([name]) VALUES (N'Monitor');

IF NOT EXISTS (SELECT 1 FROM [dbo].[category] WHERE [name] = N'Accessories')
    INSERT INTO [dbo].[category] ([name]) VALUES (N'Accessories');

------------------------------------------------------------
-- Brands
------------------------------------------------------------
IF NOT EXISTS (SELECT 1 FROM [dbo].[brand] WHERE [name] = N'ASUS')
    INSERT INTO [dbo].[brand] ([name]) VALUES (N'ASUS');

IF NOT EXISTS (SELECT 1 FROM [dbo].[brand] WHERE [name] = N'AOC')
    INSERT INTO [dbo].[brand] ([name]) VALUES (N'AOC');

IF NOT EXISTS (SELECT 1 FROM [dbo].[brand] WHERE [name] = N'Logitech')
    INSERT INTO [dbo].[brand] ([name]) VALUES (N'Logitech');

------------------------------------------------------------
-- Product 1: Laptop Gaming ABC 15
------------------------------------------------------------
DECLARE @brandId_Asus BIGINT = (SELECT TOP 1 [id] FROM [dbo].[brand] WHERE [name] = N'ASUS');
DECLARE @catId_Laptop BIGINT = (SELECT TOP 1 [id] FROM [dbo].[category] WHERE [name] = N'Laptop');

IF NOT EXISTS (SELECT 1 FROM [dbo].[product] WHERE [sku] = N'ABC15-2024')
BEGIN
    INSERT INTO [dbo].[product]
        ([name], [sku], [description], [warranty], [price], [stock], [brand_id], [category_id])
    VALUES
        (N'Laptop Gaming ABC 15',
         N'ABC15-2024',
         N'Laptop gaming 15 inch, i7 13th Gen, RTX 4060, RAM 16GB, SSD 512GB.',
         N'24 months',
         28990000,
         12,
         @brandId_Asus,
         @catId_Laptop);
END;

DECLARE @p1Id BIGINT = (SELECT TOP 1 [id] FROM [dbo].[product] WHERE [sku] = N'ABC15-2024');

-- Images cho Product 1
IF NOT EXISTS (SELECT 1 FROM [dbo].[product_image] WHERE [product_id] = @p1Id AND [image_url] = N'https://minhhightech.com/admin/sanpham/Redmi-G-Pro_6088.jpg')
    INSERT INTO [dbo].[product_image] ([product_id], [image_url])
    VALUES (@p1Id, N'https://minhhightech.com/admin/sanpham/Redmi-G-Pro_6088.jpg');

IF NOT EXISTS (SELECT 1 FROM [dbo].[product_image] WHERE [product_id] = @p1Id AND [image_url] = N'https://phongvu.vn/cong-nghe/wp-content/uploads/2024/06/ASUS-ROG-laptopgaming-4-1024x640.jpg')
    INSERT INTO [dbo].[product_image] ([product_id], [image_url])
    VALUES (@p1Id, N'https://phongvu.vn/cong-nghe/wp-content/uploads/2024/06/ASUS-ROG-laptopgaming-4-1024x640.jpg');

-- Specs cho Product 1
IF NOT EXISTS (SELECT 1 FROM [dbo].[product_spec] WHERE [product_id] = @p1Id AND [spec_key] = N'CPU')
    INSERT INTO [dbo].[product_spec] ([product_id], [spec_key], [spec_value])
    VALUES (@p1Id, N'CPU', N'Intel Core i7-13700H');

IF NOT EXISTS (SELECT 1 FROM [dbo].[product_spec] WHERE [product_id] = @p1Id AND [spec_key] = N'GPU')
    INSERT INTO [dbo].[product_spec] ([product_id], [spec_key], [spec_value])
    VALUES (@p1Id, N'GPU', N'NVIDIA GeForce RTX 4060');

IF NOT EXISTS (SELECT 1 FROM [dbo].[product_spec] WHERE [product_id] = @p1Id AND [spec_key] = N'RAM')
    INSERT INTO [dbo].[product_spec] ([product_id], [spec_key], [spec_value])
    VALUES (@p1Id, N'RAM', N'16GB DDR5');

IF NOT EXISTS (SELECT 1 FROM [dbo].[product_spec] WHERE [product_id] = @p1Id AND [spec_key] = N'Storage')
    INSERT INTO [dbo].[product_spec] ([product_id], [spec_key], [spec_value])
    VALUES (@p1Id, N'Storage', N'512GB SSD NVMe');

------------------------------------------------------------
-- Product 2: Màn hình 27" XYZ 2K 165Hz
------------------------------------------------------------
DECLARE @brandId_Aoc BIGINT = (SELECT TOP 1 [id] FROM [dbo].[brand] WHERE [name] = N'AOC');
DECLARE @catId_Monitor BIGINT = (SELECT TOP 1 [id] FROM [dbo].[category] WHERE [name] = N'Monitor');

IF NOT EXISTS (SELECT 1 FROM [dbo].[product] WHERE [sku] = N'XYZ27Q-165')
BEGIN
    INSERT INTO [dbo].[product]
        ([name], [sku], [description], [warranty], [price], [stock], [brand_id], [category_id])
    VALUES
        (N'Màn hình 27" XYZ 2K 165Hz',
         N'XYZ27Q-165',
         N'Màn hình gaming 27 inch, độ phân giải 2K, tần số quét 165Hz, tấm nền IPS.',
         N'36 months',
         7990000,
         25,
         @brandId_Aoc,
         @catId_Monitor);
END;

DECLARE @p2Id BIGINT = (SELECT TOP 1 [id] FROM [dbo].[product] WHERE [sku] = N'XYZ27Q-165');

-- Images cho Product 2
IF NOT EXISTS (SELECT 1 FROM [dbo].[product_image] WHERE [product_id] = @p2Id AND [image_url] = N'https://www.homepaylater.vn/static/22fdc5a6a9dfd52431b29e0329306705/018b0/rog_strix_scar_18_g834jy_n6039w_duoc_menh_danh_la_laptop_gaming_rtx_40_series_manh_nhat_viet_nam_co_gia_niem_yet_115_990_000_vnd_5aeff315ce.jpg')
    INSERT INTO [dbo].[product_image] ([product_id], [image_url])
    VALUES (@p2Id, N'https://www.homepaylater.vn/static/22fdc5a6a9dfd52431b29e0329306705/018b0/rog_strix_scar_18_g834jy_n6039w_duoc_menh_danh_la_laptop_gaming_rtx_40_series_manh_nhat_viet_nam_co_gia_niem_yet_115_990_000_vnd_5aeff315ce.jpg');

-- Specs cho Product 2
IF NOT EXISTS (SELECT 1 FROM [dbo].[product_spec] WHERE [product_id] = @p2Id AND [spec_key] = N'Size')
    INSERT INTO [dbo].[product_spec] ([product_id], [spec_key], [spec_value])
    VALUES (@p2Id, N'Size', N'27 inch');

IF NOT EXISTS (SELECT 1 FROM [dbo].[product_spec] WHERE [product_id] = @p2Id AND [spec_key] = N'Resolution')
    INSERT INTO [dbo].[product_spec] ([product_id], [spec_key], [spec_value])
    VALUES (@p2Id, N'Resolution', N'2560x1440');

IF NOT EXISTS (SELECT 1 FROM [dbo].[product_spec] WHERE [product_id] = @p2Id AND [spec_key] = N'RefreshRate')
    INSERT INTO [dbo].[product_spec] ([product_id], [spec_key], [spec_value])
    VALUES (@p2Id, N'RefreshRate', N'165Hz');

------------------------------------------------------------
-- Product 3: Chuột Logitech G Pro X Superlight
------------------------------------------------------------
DECLARE @brandId_Logi BIGINT = (SELECT TOP 1 [id] FROM [dbo].[brand] WHERE [name] = N'Logitech');
DECLARE @catId_Accessories BIGINT = (SELECT TOP 1 [id] FROM [dbo].[category] WHERE [name] = N'Accessories');

IF NOT EXISTS (SELECT 1 FROM [dbo].[product] WHERE [sku] = N'LOGI-GPROX')
BEGIN
    INSERT INTO [dbo].[product]
        ([name], [sku], [description], [warranty], [price], [stock], [brand_id], [category_id])
    VALUES
        (N'Chuột Logitech G Pro X Superlight',
         N'LOGI-GPROX',
         N'Chuột gaming không dây siêu nhẹ, sensor HERO, dành cho eSports.',
         N'24 months',
         3299000,
         50,
         @brandId_Logi,
         @catId_Accessories);
END;

DECLARE @p3Id BIGINT = (SELECT TOP 1 [id] FROM [dbo].[product] WHERE [sku] = N'LOGI-GPROX');

-- Images cho Product 3
IF NOT EXISTS (SELECT 1 FROM [dbo].[product_image] WHERE [product_id] = @p3Id AND [image_url] = N'https://cdn.example.com/products/logi-gprox/main.jpg')
    INSERT INTO [dbo].[product_image] ([product_id], [image_url])
    VALUES (@p3Id, N'https://cdn.example.com/products/logi-gprox/main.jpg');

-- Specs cho Product 3
IF NOT EXISTS (SELECT 1 FROM [dbo].[product_spec] WHERE [product_id] = @p3Id AND [spec_key] = N'Connection')
    INSERT INTO [dbo].[product_spec] ([product_id], [spec_key], [spec_value])
    VALUES (@p3Id, N'Connection', N'Wireless LIGHTSPEED');

IF NOT EXISTS (SELECT 1 FROM [dbo].[product_spec] WHERE [product_id] = @p3Id AND [spec_key] = N'Weight')
    INSERT INTO [dbo].[product_spec] ([product_id], [spec_key], [spec_value])
    VALUES (@p3Id, N'Weight', N'~63g');

IF NOT EXISTS (SELECT 1 FROM [dbo].[product_spec] WHERE [product_id] = @p3Id AND [spec_key] = N'Sensor')
    INSERT INTO [dbo].[product_spec] ([product_id], [spec_key], [spec_value])
    VALUES (@p3Id, N'Sensor', N'HERO 25K');

GO

-- ================================================================
-- SEED: Loại linh kiện Build PC
-- ================================================================
IF NOT EXISTS (SELECT 1 FROM [dbo].[pc_component_type])
BEGIN
    INSERT INTO [dbo].[pc_component_type] (name, is_required, sort_order) VALUES
    (N'CPU',         1, 1),
    (N'Mainboard',   1, 2),
    (N'RAM',         1, 3),
    (N'SSD / HDD',   1, 4),
    (N'VGA',         0, 5),
    (N'PSU',         1, 6),
    (N'Case',        0, 7),
    (N'CPU Cooler',  0, 8);
    PRINT 'Seeded pc_component_type.';
END
GO

PRINT '=== TechStoreDB setup completed successfully. ===';
GO
